<% if session[:access_log]["agreement"] == "accept" %>
<%= t('auth_providers.choose_login_method') %>
<ul>
<li><%= link_to 'Facebook', auth_path(provider: 'facebook', origin: ap_auth_handler_path) %></li>
<li><%= link_to 'Twitter', auth_path(provider: 'twitter', origin: ap_auth_handler_path) %></li>
<li><%= link_to 'Google', auth_path(provider: 'google_oauth2', origion: ap_auth_handler_path) %></li>
</ul>
<% else %>
<p><%= t('auth_providers.service_policy_explanation') %></p>
<% end %>
