<!DOCTYPE html>
<html>
  <head>
    <title>CaptivePortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'English', url_for(header_params.merge(locale: :en)) %>/
      <%= link_to '日本語', url_for(header_params.merge(locale: :ja)) %>/
      <%= link_to '한국어', url_for(header_params.merge(locale: :ko)) %>/
      <%= link_to '中国', url_for(header_params.merge(locale: :"zh-CN")) %>
    </header>
    <main>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
    </main>
    <footer>
      <% if params[:controller] != "agreements" %>
      <%= link_to t('application.return_to_term_of_service'), new_agreement_path(footer_params) %>
      <% end %>
    </footer>
  </body>
</html>
